.App {
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

a:link, a:visited {
  color: white;
  text-align: left;
  text-decoration: none;
}

a:hover, a:active {
  color: lightblue;
}

.TopBar {
  height: 6.5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #303940;
  background-image: linear-gradient(to right, #607180, #303940, #303940, #607180);
  border: 0;
}

.NavMenu {
  height: 93.5%;
  width: 9.0%;
  font-size: 12px;
  position: fixed;
  top: 6.5%;
  left: 0;
  background-color: #303940;
  background-image: linear-gradient(180deg, #303940, #303940, #607180);
  border: 0;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
}

.MainView {
  height: 92.5%;
  width: 91.0%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: #ffffff;
  border: 0;
  text-align: center;
}

.DoistDemoPane {
  height: 93.5%;
  width: 44.0%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
}

.DoistDemoTopBar {
  height: 5.1%;
  width: 45.5%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: darkcyan;
  border: 2 solid black;
}

.DoistDemoHeading {
  top: 12.0%;
  left: 20.0%;
  position: fixed;
  text-align: center;
  color: #5a5a5a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.DoistDemoButton {
  height: 22px;
  width: 40px;
  position: fixed;
  top: 7.4%;
  left: 9.5%;
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: pointer;
}

.Todoist {
  height: 46.5%;
  width: 47.0%;
  position: fixed;
  top: 6.5%;
  left: 53.0%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
  overflow: hidden;
}

.Twist {
  height: 46.5%;
  width: 47.0%;
  position: fixed;
  top: 53.0%;
  left: 53.0%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
  overflow: hidden;
}

.DisplayLog {
  top: 15.0%;
  left: 9.4%;
  height: 83.5%;
  width: 41.0%;
  position: fixed;
  overflow: scroll;
}

h1 {
  text-align: center;
  color: #5a5a5a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.PageHeading {
  text-align: center;
  color: #505050;
  font-family: Arial, Helvetica, serif;
  font-size: 4em;
  
}

.TextBody {
  text-align: justify;
  text-justify: inter-word;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.3em;
  margin: 0px 200px 0px 350px;
}

.TextBodyColumn {
  text-align: justify;
  text-justify: inter-word;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.3em;
  margin: 0 0 0 10px;
}

.KpsPhoto {
  height: 216px;
  width: 228px;
  position: fixed;
  top: 9.0%;
  left: 12.0%;
}

.GospelHeading {
  text-align: center;
  color: #505050;
  font-family: Arial, Helvetica, serif;
  font-size: 3em;
}

.GospelText {
  text-align: center;
  color: crimson;
  font-family: Arial, Helvetica, serif;
  font-size: 1.5em;
}

.GospelEpilog {
  text-align: center;
  color: black;
  font-family: "Arial Black", Helvetica, serif;
  font-size: 2em;
}

.GospelResources {
  margin: 0px 350px 0px 350px;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Helvetica, serif;
  font-size: 1.3em;
}

a.Gospel:link {
  color: "DarkRed";
}
a.Gospel:visited {
  color: "DarkRed";
}
a.Gospel:hover {
  color: red;
}

.GospelPrayer {
  text-align: justify;
  text-justify: inter-word;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.3em;
  margin: 0px 400px 0px 400px;
}

.KpsPhoto {
  height: 216px;
  width: 228px;
  position: fixed;
  top: 9.0%;
  left: 12.0%;
}

.GospelHeading {
  text-align: center;
  color: #505050;
  font-family: Arial, Helvetica, serif;
  font-size: 2em;
}

.GospelText {
  text-align: center;
  color: crimson;
  font-family: Arial, Helvetica, serif;
  font-size: 1.5em;
}

.GospelEpilog {
  text-align: center;
  color: black;
  font-family: "Arial Black", Helvetica, serif;
  font-size: 2em;
}

.GospelResources {
  margin: 0px 350px 0px 350px;
  text-align: center;
  color: black;
  font-family: "Times New Roman", Helvetica, serif;
  font-size: 1.3em;
}

a.Gospel:link {
  color: SeaGreen;
  font-weight: bold;
}
a.Gospel:visited {
  color: SeaGreen;
  font-weight: bold;
}
a.Gospel:hover {
  color: red;
  font-weight: bold;
}

.GospelPrayer {
  text-align: justify;
  text-justify: inter-word;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.3em;
  margin: 0px 400px 0px 400px;
}

[gospel-tooltip]:hover {
  position: relative;
}
[gospel-tooltip]:hover::before {
  all: initial;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  #background-color: #1a1a1a;
  background-color: #e00000;
  content: attr(gospel-tooltip);
  color: #f9f9f9;
  position: absolute;
  bottom: auto;
  width: 150px;
  left: auto;
  #transform: translate(-50%, 0);
  transform: translate(0, -50%);
  margin-bottom: 0px;
  text-align: center;
  font-size: 14px;
  right: 100%;
  top: 50%;
  margin-right: 15px;
}
[gospel-tooltip]:hover::after {
  all: initial;
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;		  
  border-top: 10px solid #1a1a1a;
  position: absolute;
  bottom: auto;
  content: '';
  left: auto;
  right: 100%;
  #transform: translate(-50%, 0);
  transform: rotate(-90deg) translate(0, -50%);
  margin-bottom: 0;
  top: 50%;
  margin-right: -5px;
  margin-top: -5px;
}

.DDPopup {
  z-index: 99;
  height: 73.5%;
  width: 34.0%;
  position: fixed;
  left: 14.0%;
  top: 12.0%;
  background-color: #ffffff;
  border-style: outset;
  border-color: #808080;
  border-width: 5px;
}

.PopupTextBody {
  text-align: justify;
  text-justify: inter-word;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.3em;
  margin: 0px 5.0% 0px 5.0%;
}

.InitDemoField {
  text-align: left;
  color: #4d4d4d;
  font-family: Arial, Helvetica, serif;
  font-size: 1.0em;
  margin: 5.0% 5.0% 5.0% 5.0%;
  border-style: outset;
  border-color: #808080;
  border-width: 5px;
}

[clhp-tooltip]:hover {
  position: relative;
}

[clhp-tooltip]:hover::before {
  all: initial;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: #1a1a1a;
  content: attr(clhp-tooltip);
  color: #ffffff;
  position: fixed;
  top: 380px;
  right: auto;
  bottom: auto;
  left: 950px;
  width: 150px;
  #transform: translate(-50%, 0);
  transform: translate(0, -50%);
  margin-bottom: 0px;
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
}

/*
[clhp-tooltip]:hover::after {
  all: initial;
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;		  
  border-top: 10px solid #1a1a1a;
  position: absolute;
  bottom: auto;
  content: '';
  left: auto;
  right: 100%;
  transform: rotate(-90deg) translate(0, -50%);
  margin-bottom: 0;
  top: 50%;
  margin-right: -5px;
  margin-top: -5px;
}
*/
