.App {
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

a:link, a:visited {
  color: white;
  text-align: left;
  text-decoration: none;
}

a:hover, a:active {
  color: lightblue;
}

.TopBar {
  height: 6.5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color :lightblue;
  border: 0;
}

h1 {
  top: 20.0%;
}

.PageHeading {
  top: 20.0%;
}

.NavMenu {
  height: 93.5%;
  width: 9.0%;
  font-size: 12px;
  position: fixed;
  top: 6.5%;
  left: 0;
  background-color: #4d4d4d;
  border: 0;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: left;
}

.MainView {
  height: 93.5%;
  width: 91.0%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: #ffffff;
  border: 0;
  text-align: center;
}

.DoistDemo {
  height: 93.5%;
  width: 45.5%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
}

.DoistDemoTopBar {
  height: 5.1%;
  width: 100%;
  position: fixed;
  top: 6.5%;
  left: 9.0%;
  background-color: darkgreen;
  border: 2 solid black;
}

.DoistDemoButton {
  height: 4.0%;
  width: 38px;
  position: fixed;
  top: 7.1%;
  left: 9.5%;
  background-color: lightgreen;
  font-size: x-small;
  text-align: center;
}

.Todoist {
  height: 46.5%;
  width: 45.0%;
  position: fixed;
  top: 6.5%;
  left: 54.5%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
}

.Twist {
  height: 46.5%;
  width: 45.0%;
  position: fixed;
  top: 53.0%;
  left: 54.5%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #808080;
  border-width: 2px;
}
